#send_message_button{
    border-radius: 22px;
    background:#070707;
    display: flex;
    width: 180px;
    height: 44px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-shrink: 0;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    text-decoration: none;
}
/* #linkedin_icon{
    width: 36px; 
    display: inline-block;
    border: 3px solid black; 
    height: 34px; 
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0px 0px 5px 0px;
} */
